@use 'style';

.buttonContainer{
    width: 540px;
    height: 72px;
    position: relative;
    align-items: flex-end;
    .buttonNext{ 
        position:absolute;
        bottom: 15px; 
        right:0;
        @extend %control-buttton-size;
        @extend %nextbtn-style;
    }
    .buttonPrev{
        position:absolute;
        bottom: 15px; 
        left:0; 
        @extend %control-buttton-size;
        @extend %prevbtn-style;
    }
}




