@use 'style';

$active-color:#000;
$inactive-color: #f0f0f0;

%bar-style{
    margin: 1rem;
    width: 2rem;
    height: 2px;
    border:none;
}


%icon-style{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 5px;
    border: solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 700;
}

.ProgressContiner{
    @extend %flexbox-row;    
    div{
        @extend %flexbox-row;
        align-items: center;
        .inActiveIcon{
            @extend %icon-style;
            color:$inactive-color;

        }
        .activeIcon{
            @extend %icon-style;
            color:$inactive-color;
        }
        .doneIcon{
            @extend %icon-style;
            background-color: #000000;
            color:#f0f0f0;
        }
    }
    .inactiveBar{
        @extend %bar-style;
        background-color: $inactive-color;
    }
    
    .activeBar{
        @extend %bar-style;
        background-color: $active-color;
    }
    
}


